.hidden{
  display: none
}

body {
  background-color: rgb(49, 49, 49);
}

button {
  scale: 300%;
  color: rgb(0, 0, 0);
  border: 1px;
  border-radius: 10px;
  margin: 15px;
}

#submit {
  align: middle;
}
label {
  color: rgb(224, 224, 224);
  margin: 60px;
}

h1 {
  color: rgb(160, 160, 160);
  background: rgb(70, 70, 70);
  border-radius: 5px;
  padding: 15px 15px;
}

h2 {
  color: rgb(87, 87, 241);
  margin: 10px ;
  padding: 5px 5px;
}
h3 {
  color: rgb(247, 149, 58);
  margin: 20px ;
}
p1 {
  color: rgb(105, 104, 104);
  background: rgb(70, 70, 70);
  border-radius: 7px;
  padding: 20px 20px;
}

#result {
  color:rgb(247, 149, 58);
  background: rgb(224, 7, 7);
  padding: 10px;
}